

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.doc_body{
	/* width: 100vw;
	height: 100vh; */
	/* background: fixed no-repeat rgb(0,133,66); */
	background: fixed no-repeat linear-gradient(180deg, rgba(0,133,66,1) 0%, rgba(0,133,66,1) 33%, rgba(255,224,0,1) 35%, rgba(252,198,0,1) 67%, rgba(231,0,1,1) 69%),url("../images/background/bannerBG.webp");
	height:100vH;
	font-weight: bolder;
	/* position: relative; */
}

.navbarHeight{
	height:20vH;
}

.flagShift{
	left: 5vh;
	top: 6vh;
}  

.img-gallery-slide{
	height:85vh;
}

/*Responsive*/
@media(max-width: 900px) and (orientation:landscape){
	.navbarHeight{
		height:30vH;
	}
	.flagShift{
		left: 5vh;
		top: 8vh;
	}		
	.img-gallery-slide{
		max-width: 100%;
		height: auto;
	}
}
@media(max-width: 700px) and (orientation:portrait){
	.navbarHeight{
		height:14vH;
	}
	.flagShift{
		left: 5vh;
		top: 4vh;
	}	
	.img-gallery-slide{
		max-width: 100%;
		height: auto;
	}
}

